h1{
    text-align: center;
    color: rgb(209, 25, 25)
}
h2{
    text-align: center;
    color: rgb(32, 32, 152);
}
td.text{
    color: white;
    background-color: rgb(215, 22, 22);
    text-align: center;
    
}
td.title{
    text-align: center;
}
th.title{
    color: white;
    background-color: rgb(25, 25, 151);
    text-align: center;
}
tr.td.title{
    text-align: center;
}